<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uteq.sistemas.ventasexpress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="emulator"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZsv03OFY1rYEIkolqMmB_PzacEcUZneQ" />

        <activity android:name=".activity.InicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VendedorActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activity.ClienteActivity"
            android:label="@string/title_activity_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AdministradorActivity"
            android:label="@string/title_activity_administrador"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.MapsActivity"
            android:label="Maps" >
        </activity>
        <activity
            android:name=".utils.route.MapsActivity"
            android:label="Maps" >
        </activity>

    </application>

</manifest>